<div class="ridings">

    <div carousel="riding in vm.ridings"
         carousel-guid="4d7d564f-4568-4b52-aea4-c544bd2da9c1"
         class="riding-slide"
         data-ng-style="{ width: viewPort.width }">

        <div class="header" data-ng-style="{ backgroundColor: riding.winningCandidate.party.colorCode }">
            <h3>riding</h3>
            <h1 class="riding-name" auto-size-text max-font-size="32">{{ ::riding.name }}</h1>
        </div>

        <div class="content">
            <candidate-list candidates="::riding.candidates"></candidate-list>
        </div>

    </div>

</div>