<div style="width:100%">

    <div data-ng-repeat="candidate in candidates" style="position: relative; float: left;">

        <div class="candidate">
            <div class="left vote-percentage"
                 data-ng-style="{ backgroundColor: candidate.party.colorCode }">
                <h2>{{ candidate.percentageOfTotalVotes }}</h2>
            </div>
            <div class="right" style="text-align: left;width: 210px; margin-left: 7px">
                <h1 data-ng-if="candidate.isElected">
                    <span>{{ ::candidate.firstName }}</span>
                    <span>{{ ::candidate.lastName }}</span> &#10003;
                </h1>
                <h1 data-ng-if="!candidate.isElected">
                    <span>{{ ::candidate.firstName }}</span>
                    <span>{{ ::candidate.lastName }}</span>
                </h1>
                <h4>{{ candidate.votes }}</h4>

            </div>
            <div class="clear">
            </div>
        </div>


    </div>

    <div class="clear"></div>

    <p class="footnote">&#10003; ELECTED</p>
</div>